@charset "UTF-8";

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: white;
    font:bolder 2em;
    text-align: center;
}
img {
    margin-left: 55px;
    transition-duration: 0.5s;
}
img:hover {
    height: 120px;
    transition-duration: 0.5s;
    padding: 10px;
}
.link {
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;

}
.link:hover {
    background-color: white;
    color: white;
    transition-duration: 0.5s;
}
.video {
    margin: 0px -17px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 57.5%;
}
.video > iframe {
    top: 5%;
    left: 5%;
    position: absolute;
    width: 90%;
    height: 90%;
}
#voltar {
    transition-duration: 0.5s;
}
#voltar:hover {
    height: 90px;
    transition-duration: 0.5;
}