@charset "UTF-8";

¨ {
    height: 100%;
}
body {

    font: normal 17px arial,sans-serif;
}

a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: darkred;
}

a:hover {

    color: lightcoral;
    text-decoration: underline;
}
a:active {
    color:crimson;
}
a::before {
    content: "→";
    text-decoration: none;
    font-weight: normal;
    color: crimson;
    font-size: 18px;
}
#especial::after {
    content: "♥";
    text-decoration: none;
    font-weight: normal;
    color: darkred;
    font-size: 18px;
}

    